/*
 * Estilos de tu proyecto
 */
nav{
 	background-color: #2c3e50;
 	position: fixed;
 	width: 1200px;
 }

nav section{
	text-align: center;
}

a{
 	color: white;
	text-decoration: none;
	vertical-align: middle;
 }

.titulo{
 	font-size: 30px;
 }

.start{
 	background-color: #18BC9C;
 	height: 600px;
 	width: 100%;
 }

.img-principal{
 	margin-top: 50px;
 	height: 250px;
 	width: 200px;
 }

p{
 	text-align: center;
 }

.texto p{
	color: white;
 }

.text-principal{
	font-size: 60px;
}

.text-secundario{
	margin-top: 20px;
}

.portfolio .text-principal{
	font-size: 60px;
	margin-top: 80px;
}

.col-6 hr{
	border: 5px solid white;
}

.portfolio hr{
	border: 5px solid black;
}

.imagenes img{
	height: 290px;
	width: 100%;
}

.about{
	background-color: #18BC9C;
	height: 500px;
	margin-top: 80px;
	padding: 80px;
}

.about .col-4 p{
	font-size: 23px;
	text-align: left;

}

.boton a{
	background-color: #18BC9C;
	border: 2px solid white;
	border-radius: 5px;
}

.contact .text-principal{
	font-size: 50px;
}

.datos{
	padding:20px; 
	width: 100%;
}